<h1>Rummikub!</h1>

<ol>
	<% @games.each do |game| %>
		<li>
			<%= link_to heading(game), game %>
		</li>
	<% end %>
</ol>

<%= form_for Game.new do |f| %>
	<%= f.text_field :number_players %>
	<%= f.submit "Create new game!" %>

	<% if flash[:wrong_number_players] %>
		<%= flash[:wrong_number_players] %>
	<% end %>
<% end %>

