<div id="index_box">
	<h1>RUMMIKUB</h1>

	<ol>
		<% @games.each do |game| %>
			<li>
				<%= link_to heading(game, current_user), game %>
			</li>
		<% end %>
	</ol>

	<%= form_for Game.new do |f| %>
		<p>
			Number of players:
			<%= f.text_field :total_player_count %>
			<%= f.submit "Create new game!" %>
		</p>

		<% if flash[:wrong_number_players] %>
			<%= flash[:wrong_number_players] %>
		<% end %>
	<% end %>
</div>
