<div id="index_box">
	<h1>RUMMIKUB</h1>

	<ol>
		<% @games.each do |game| %>
			<li>
				<%= form_for [game, Player.new] do |f| %>
					<%= link_to GamesDelegator.new(game).heading(current_user), game %>
					<% if game.not_enough_players? && current_user.not_in_game(game) %>
						<%= f.submit "Join game" %>
					<% end %>
				<% end %>
			</li>
		<% end %>
	</ol>

	<%= form_for Game.new do |f| %>
		<p>
			Number of players:
			<%= f.text_field :total_player_count %>
			<%= f.submit "Create new game!" %>
		</p>

		<% if flash[:wrong_number_players] %>
			<%= flash[:wrong_number_players] %>
		<% end %>
	<% end %>
</div>
