<meta property="game_id" content="<%= @game.id %>">
<meta property="board_width" content="<%= Game::BOARD_WIDTH %>">
<meta property="board_height" content="<%= Game::BOARD_HEIGHT %>">

<% if !UserNotInGame.new(@game, current_user).call %>
	<meta property="current_user_id" content="<%= current_user.player_for_game(@game).id %>">
	<meta property="current_player_id" content="<%= @current_player.id %>">
<% end %>

<% if @game.not_enough_players? && UserNotInGame.new(@game, current_user).call %>
	<%= form_for [@game, Player.new] do |f| %>
		<%= f.submit "Join game" %>
	<% end %>
<% end %>

<div id="board"></div>

<% if user_whose_turn_it_is(@game) == current_user %>
	<button id="submit">Submit Move</button>
	<button id="drawTile">Draw Tile</button>
	<button id="reset">Reset Move</button>
<% end %>

<div id="hand"></div>

<div id="info">
	<h1><%= heading(@game, current_user) %></h1>
	<p id="flash"><%= flash[:invalid] %></p>
	
	<div>
		<% if !@game.not_enough_players? %>
			<p>Number of tiles in hand:</p>
			<% @players.each do |player| %>
				<%= "#{player.user.name}: #{player.tiles.length}" %>
				<br />
			<% end %>
		<% end %>
	</div>

	<p>The aim of the game is to get rid of all your tiles. To do this you need to place either runs or groups on the board.</p>
	<p>Run:<br />A set of consecutive tiles of the same colour that is at
	least 3 tiles long.</p>
	<p>Group:<br />A set tiles with the same number
	but all different colours, again this must be a least 3 long.</p>
	<p>During your turn you are allowed to rearange all the tiles on 
	the board so long as the resulting sets are all valid. If you
	cannot move you must draw a tile from the bag.</p>
</div>