<meta property="game_id" content="<%= @game.id %>">
<meta property="board_width" content="<%= Game::BOARD_WIDTH %>">
<meta property="board_height" content="<%= Game::BOARD_HEIGHT %>">

<% if !current_user.not_in_game?(@game) %>
	<meta property="current_player_id" content="<%= current_user.player_for_game(@game).id %>">
	<meta property="active_player_id" content="<%= @game.active_player.id %>">
<% end %>

<div id="board"></div>

<%= display_buttons(@game, current_user) %>

<div id="hand"></div>

<div id="info">
	<h1><%= @game.heading(current_user) %></h1>
	<p id="flash"><%= flash[:invalid] %></p>
	
	<div>
		<%= display_number_of_tiles_in_hands(@game, @players) %>
	</div>

	<p>The aim of the game is to get rid of all your tiles. To do this you need to place either runs or groups on the board.</p>
	<p>Run:<br />A set of consecutive tiles of the same colour that is at
	least 3 tiles long.</p>
	<p>Group:<br />A set tiles with the same number
	but all different colours, again this must be a least 3 long.</p>
	<p>During your turn you are allowed to rearange all the tiles on 
	the board so long as the resulting sets are all valid. If you
	cannot move you must draw a tile from the bag.</p>
</div>