<meta property="game_id" content="<%= @game.id %>">

<div id="board"></div>

<div id="hand"></div>

<!-- <% @game.tile_sets.each do |tile_set| %>
	<ol class="set" id=<%= tile_set.id %>>
		<% tile_set.ordered_tiles.each do |tile| %>
			<li class=<%= tile.colour %>><%= tile.number %></li>
		<% end %>
	</ol>
<% end %>

<p id="new_set">Create new Set!</p>

<ol class="set" id="hand">
	<% @player.tiles.each do |tile| %>
		<li class=<%= tile.colour %>><%= tile.number %></li>
	<% end %>
</ol>

<div class="row">
	<div class="small-1 columns">hello</div>
	<div class="small-1 columns">hello</div>
</div>

<ol class="set" id="hand">
	<% @player.tiles.each do |tile| %>
		<li class=<%= tile.colour %>><%= tile.number %></li>
	<% end %>
</ol> -->